@model List<PostModel>
@{
    ViewData["Title"] = "Posts";
}
@if (Model != null && Model.Any())
{
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h3 class="text-white">Posts</h3>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    @foreach (var item in Model)
    {
        <article class="flex max-w-xl flex-col items-start justify-between bg-gray-700 p-4 shadow-md rounded-lg overflow-hidden">
            <div class="flex items-center gap-x-4 text-xs">
                <time datetime="2020-03-16" class="text-white">@item.created_at</time>
                <a href="#" class="relative z-10 rounded-full bg-gray-700 px-3 py-1.5 font-medium text-white hover:bg-gray-100">@item.type</a>
            </div>
            <div class="group relative">
                <h3 class="mt-3 text-lg font-semibold text-white group-hover:text-gray-600">
                    <a>
                        <span class="absolute inset-0"></span>
                        @item.title
                    </a>
                </h3>
                <p class="mt-5 w-full break-words text-sm text-gray-400 line-clamp-3 h-[4.5rem] overflow-hidden">
                    @item.description
                </p>
            </div>
            <div class="relative mt-8 flex items-center gap-x-4">
                <img src="@item.profile" class="size-10 rounded-full bg-gray-50">
                <div class="text-sm">
                    <p class="font-semibold text-white">
                        <a href="/User/Index/@item.userId">
                            <span class="absolute inset-0"></span>
                            @item.name
                        </a>
                    </p>
                    <p class="text-gray-600"></p>
                </div>
            </div>
        </article>
    
}
        </div>
    </div>
}